<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- need to put description in, ability to edit and some more sections for text. then create a table so it looks nice -->
    <h2>Add A Problem:</h2>
    
    <form action="/problems/createProblems" method="POST">
        <input type="text" placeholder="Enter Problem Item" name="problemItem">
        <input type="text" placeholder="Enter Pattern Type" name="patternType">
        <input type="text" placeholder="Enter Description" name="description">
        <input type="submit">
    </form>

    
    <h1>Problems completed</h1>
    <ul id="heading">
        <li class="problem">Problem</li>
        <li class="pattern">Pattern</li>
        <li class="description">Notes</li>
    </ul>

    <ul class="problemItems">
        <% problems.forEach(el => { %>
            <li class="problemItem" data-id="<%=el._id%>">
                    <h2 class="problem"><%= el.problem %></h2>
                    <h3 class="pattern"><%= el.pattern %></h3>
                    <h3 class="description"><%= el.description %></h3>
                    <span class="del">Delete</span>        
            </li>   
        <% }) %>
        </ul>

    <script src="main.js"></script>
</body>
</html>