/* body, html{
    height: 100%;
} */

li{
    list-style: none;
}

.problemItem{
    width: 100%;
    padding-bottom: 2em;
}

ul.problemItems{
    display: table;
    margin-top: 0em;
    height: 100%;
}

ul.problemItems > li{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    height: 100%;
}

#heading{
    margin-bottom: .5em;
}

#heading > li{
    display: inline-block;
    font-size: 1.75em;
    padding-left: .10em;
}

h2.problem, h3.pattern, h3.description, span.del, .date, a.link, span.edit{
    display: inline-block;
    margin: 0;
    vertical-align: top;
    height: 100%;
}

.problem{
    width: 25%;
}

.pattern{
    width: 15%;
}

.description{
    width: 30%;
}

h3.description{
    font-size: 1em;
}

.date{
    width: 7.5%;
    margin-left: 2em;
}

a.link{
    width: 7.5%;
    height: 100%;
    margin-left: 2em;
}

li span.del, span.edit{
    /* width: 2.5%; */
    margin-left: .5em;
}



/* div{
    display: inline-block;
} */

/* #table{
    display: block;
    margin-top: 2em;
}

th, td{
    border: 1px solid black;
    padding: 5px;
} */