/* body, html{
    height: 100%;
} */
.hidden{
    display: none !important;
}

li{
    list-style: none;
}

.problemItem{
    width: 100%;
    padding-bottom: 2em;
}

ul.problemItems{
    display: table;
    margin-top: 0em;
    height: 100%;
    width: 95%;
    max-width: 95%;
}

ul.problemItems > li{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    height: 100%;
}

h1, h2.add, form, form + h2{
    padding-left: 40px;
}

#heading{
    display: table;
    margin-bottom: .5em;
    width: 95%;
    max-width: 95%;
}

#heading > li{
    display: inline-block;
    font-size: 1.75em;
    padding-left: .15em;
}

h2.problem, h3.pattern, h3.notes, span.del, .date, a.link, span.edit{
    display: inline-block;
    margin: 0;
    vertical-align: top;
    height: 100%;
}

.problem{
    width: 25%;
}

.pattern{
    width: 15%;
}

.notes{
    width: 30%;
}

h3.notes{
    font-size: 1em;
}

.date{
    width: 7.5%;
}

/* h3.date{
    margin-left: 1.75em;
} */

a.link{
    width: 7.5%;
    height: 100%;
    /* margin-left: 1.5em; */
}


li span.del, span.edit{
    /* width: 2.5%; */
    margin-left: .5em;
}

.login-signup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    background-color: #009579;
}

.login, .signup{
    padding: 2em;
    margin: 1em;
    border-radius: 4px;
    background-color: white;
}

.login{
    width: 400px;
    max-width: 400px;
}

.signup{
    width: 550px;
    max-width: 550px;
}


.form > *:first-child{
    margin-top: 0;
    padding-left: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form{
    padding-left: 0;
}

.form-title{
    margin-bottom: 2em;
    text-align: center;
    /* padding: 0; */
}

.form-inputgroup{
    margin-bottom: 1rem;
}

.form-input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background-color: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form-input:focus{
    border-color: #009579;
    background-color: white;
}

.form-button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    background-color: #009579;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.form-button:hover{
    background-color: #007f67;
}

.form-button:active{
    transform: scale(0.98);
}

.form-text{
    text-align: center;
}

.form-link{
    text-decoration: none;
    cursor: pointer;
}

.form-link:hover{
    text-decoration: underline;
}